footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 24px;

  ul {
    margin: 0 0;

    li {
      display: inline;
      margin-right: 70px;
      display: inline;

      &::after {
        display: inline;
      }

      a {
        color: white;

        fa-icon {
          margin-right: 10px;
        }
      }
    }
  }
}