header {
  background: transparent;
  font-size: 20px;

  #logo {
    color: white;
    font-weight: 400;
    padding: 15px 0;
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: inline;
      float: left;
    }

    a {
      color: white;
      padding: 15px 30px;
      display: block;
      font-weight: 400;

      // &.router-link-active, &:hover {
      //   color: white;
      //   text-decoration: white;
      // }

    }


  }

}
