<div class="row">
  <div class="columns large-12 page-title">
    <h1>&lt;About&gt;</h1>
    <p>My name is Nuno Fidalgo. I am a Junior web developer.</p>
    <p>I began my career in 2014, after that I made some formation on Multimedia, Web development and Android
      development.</p>
    <h2>&lt;/About&gt;</h2>

    <h1>&lt;My Experience&gt;</h1>
    <div class="large-4 columns three-board">
      <h5>Front-End Development</h5>
      <ul>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>JS</li>
        <li>Angular 2+</li>
        <li>Ionic</li>
      </ul>
      <h5>4.5/<span>5</span></h5>
    </div>

    <div class="large-4 columns three-board">
      <h5>Back-End Development</h5>
      <ul>
        <li>PHP 7</li>
        <li>Wordpress</li>
        <li>Symfony 3</li>
        <li>Silex 2</li>
      </ul>
      <h5>4/<span>5</span></h5>
    </div>

    <div class="large-4 columns three-board">
      <h5>Android Development</h5>
      <ul>
        <li>Java</li>
        <li>Android Studio</li>
        <li>Material Design</li>
      </ul>
      <h5>3/<span>5</span></h5>
    </div>
    <h2>&lt;/My Experience&gt;</h2>

  </div>
</div>
