<div class="portfolio-page page">
  <div class="left-content flex-mid">
    <h1>Projects</h1>
    <p>Sometimes I get ideas for a small or big thing to work on. 
      Sometimes I fail, sometimes I get it done, but I always end
      learning something new.</p>
  </div>

  <div class="right-content flex-mid">
    <ul>
      <li><a href="https://github.com/nunofidalgonf/tennis-center-front" target="_blank">01.Tennis CRM</a></li>
      <li><a href="https://github.com/nunofidalgonf/linha-net-theme" target="_blank">02.VS Code Theme</a></li>
      <li></li>
    </ul>
  </div>
  </div>
