.about-page {
  color: white;

  ul {
    margin: 0 0;
    padding: 0 0;

    li {
      list-style: none;
      padding: 0 0;
      margin: 0 0;
      cursor: pointer;
    }
  }

  .left-content {
    p {
      margin-bottom: 56px;
    }
    li {
      font-size: 30px;

      &.active {
        text-decoration: underline;
      }
    }
  }
  .content-box {
    width: 580px;
    min-height: 550px;
    background-color: #00091E;
    border-radius: 10px;
    text-align: left;
    
    padding: 25px 30px;

    h3 {
      margin-bottom: 45px;
    }

    div {
      margin-bottom: 45px;
    }
  }
}