<div class="about-page page">
  <div class="left-content flex-mid">
    <h1>About</h1>
    <p>More than 5 years in web development, the last 2 years was only in frontend.
      I worked mostly with Angular and did some projects in ReactJS and Ionic.
      I also managed a team in the last year.</p>
    <ul>
      <li (click)="this.goToCard(0)" [ngClass]="{'active': this.aboutIndex === 0}">01.Experience</li>
      <li (click)="this.goToCard(1)" [ngClass]="{'active': this.aboutIndex === 1}">02.School and Formations</li>
    </ul>
  </div>

  <div class="right-content flex-mid">
    <div class="content-box">
      <h3>{{this.getTitle()}}</h3>
      <div *ngFor="let item of this.cardContent">
        <ul>
          <li>{{item.date}}</li>
          <li>{{item.company}}</li>
          <li>{{item.skills}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
