.homepage {
  //padding-top: 150px;

  .right-content {

    .animated-figure {
      float: right;
      width: 200px;
      height: 200px;
      background-color: white;
      animation: second-square 3s 1s infinite alternate;
    }

    @keyframes second-square {
      0% {
        border-radius: 0 0 0 0;
        background-color: rgb(168, 168, 168);
        transform: rotate(0deg);
      }
      25% {
        border-radius: 50% 0 0 0;
        background-color: rgb(145, 131, 163);
        transform: rotate(25deg);
      }
      50% {
        border-radius: 50% 50% 0 0;
        background-color: rgb(116, 79, 79);
        transform: rotate(50deg);
      }
      75% {
        border-radius: 50% 50% 50% 0;
        background-color: rgb(50, 42, 82);
        transform: rotate(75deg);
      }
      100% {
        border-radius: 50%;
        background-color: rgb(39, 31, 58);
        transform: rotate(100deg);
      }
    }
  }
}
