.homepage {
  //padding-top: 150px;
  width: 100%;
  display: flex;
  height: calc(100vh - 55px);
  position: relative;
  justify-content: center;
  align-items: center;

  .flex-mid {
    flex: 50%;
  }

  #left-content {
    text-align: left;
    padding-right: 50px;

    h1 {
      font-size: 90px;
      line-height: 110px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      color: white;
      line-height: 36px;
    }

  }

  #right-content {
    text-align: right;

    .animated-figure {
      float: right;
      width: 200px;
      height: 200px;
      background-color: white;
      animation: second-square 3s 1s infinite alternate;
    }

    @keyframes second-square {
      0% {
        border-radius: 0 0 0 0;
        background-color: rgb(168, 168, 168);
        transform: rotate(0deg);
      }
      25% {
        border-radius: 50% 0 0 0;
        background-color: rgb(145, 131, 163);
        transform: rotate(25deg);
      }
      50% {
        border-radius: 50% 50% 0 0;
        background-color: rgb(116, 79, 79);
        transform: rotate(50deg);
      }
      75% {
        border-radius: 50% 50% 50% 0;
        background-color: rgb(50, 42, 82);
        transform: rotate(75deg);
      }
      100% {
        border-radius: 50%;
        background-color: rgb(39, 31, 58);
        transform: rotate(100deg);
      }
    }
  }
}
