/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500');


$orange: #ff7b00;
$white: #ffffff;
$grey: #95989A;

body {
  background-color: #000511;
  // background-image: url('/assets/img/background_2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo Tamma 2', cursive;
}

p,
ul li,
a,
span {
  font-family: 'Baloo Tamma 2', cursive;
}

h1 {
  color: $white;
  font-size: 2.7em;
  margin: 40px 0 25px 0;
  font-weight: 700;
}

h2 {
  color: $white;
  font-size: 2.4em;
  margin: 40px 0 25px 0;
}

h5 {
  color: $white;
  font-size: 1.2em;
}

p {
  color: $grey;
}


canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -99;
}

.page {
  width: 100%;
  display: flex;
  height: calc(100vh - 55px);
  position: relative;
  justify-content: center;
  align-items: center;

  .left-content {
    text-align: left;
    padding-right: 50px;
  
    h1 {
      font-size: 90px;
      line-height: 110px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  
    p {
      margin-top: 10px;
      font-size: 20px;
      color: white;
      line-height: 36px;
    }
  
  }
  
  
  .right-content {
    text-align: right;
  
  }
}

